@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --clr-line: #e0e0e0;
  --clr-active: #3498db;
}
* {
  box-sizing: border-box;
}

body {
  background-color: #f6f7fb;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
  min-width: 100%;
  width: 350px;
}

.progress-container::before {
  content: '';
  background-color: var(--clr-line);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
}

.progress {
  background-color: var(--clr-active);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: .4s ease;
}

.circle {
  background-color: #fff;
  color: #999;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--clr-line);
  transition: .4s ease;
}

.circle.active {
  border-color: var(--clr-active);
}

.btn {
  background-color: var(--clr-active);
  color: #fff;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  margin: 5px;
  padding: 8px 30px;
}

.btn:active {
  transform: scale(.98);
}

.btn:disabled {
  background-color: var(--clr-line);
  cursor: not-allowed;
}